<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC webcam</title>
    <style>
        button {
            padding: 8px 16px;
        }

        video {
            width: 100%;
        }

        .option {
            margin-bottom: 8px;
        }

        #media {
            max-width: 1280px;
        }
    </style>
</head>
<body>
    <h1>WebRTC- Raspberry pi</h1>
    
    <div id="container-status">Loading container status...</div>

    <h2>Options</h2>
    <div class="option">
        <select id="video-transform">
            <option value="tfLite" selected>Tensorflow-lite</option>
            <option value="other">other</option>
        </select>
    </div>

    <button id="start" onclick="start()">Start</button>
    <button id="stop" style="display: none" onclick="stop()">Stop</button>

    <div id="media">
        <h2>Media</h2>

        <audio id="audio" autoplay="true"></audio>
        <video id="video" autoplay="true" playsinline="true"></video>
    </div>


<script src="client.js"></script>
</body>
</html>
