<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC webcam</title>
    <style>
        button {
            padding: 8px 16px;
        }

        video {
            width: 100%;
        }

        .option {
            margin-bottom: 8px;
        }

        #media {
            max-width: 1280px;
        }
    </style>
</head>
<body>
    <h1>WebRTC- Raspberry pi</h1>
    <h2>Options</h2>
    <button onclick="move_tflite()">tflite, mobile-net</button>
    
<script src="client.js"></script>
</body>
</html>
