<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC Webcam</title>
    <style>
        button { padding: 8px 16px; }
        video { width: 100%; }
        .option { margin-bottom: 8px; }
        #media { max-width: 1280px; }
        #system-info { margin-top: 20px; }
    </style>
</head>
<body>
    <h1>WebRTC - Raspberry Pi</h1>
    <h2>Options</h2>
    <div class="option">
        <select id="video-transform">
            <option value="tiny-yolov3" selected>tiny-yolov3</option>
            <option value="ssd_mobilenet_v1_12-int8">ssd_mobilenet_v1_12-int8</option>
        </select>
    </div>

    <button id="start" onclick="start()">Start</button>
    <button id="back_to_home" onclick="back_to_home()">Back to Home</button>

    <div id="media">
        <h2>Media</h2>
        <audio id="audio" autoplay="true"></audio>
        <video id="video" autoplay="true" playsinline="true"></video>
    </div>

    <div id="system-info">
        <h2>System Information</h2>
        <p id="cpu-temp">CPU Temperature: loading...</p>
        <p id="memory-info">Memory Usage: loading...</p>
        <p>Frames per Second (FPS): <span id="fps-value">0</span></p>
        <p>Current Frame: <span id="frame-count">0</span></p>
    </div>

    <script src="client.js"></script>
    <script>
        const video = document.getElementById('video');
        const fpsDisplay = document.getElementById('fps-value');
        const frameCountDisplay = document.getElementById('frame-count');
        let frameCount = 0;
        let lastTime = performance.now();

// FPS와 현재 프레임 카운트를 계산하는 함수
function calculateFPS() {
    const currentTime = performance.now();
    frameCount++;

    // 매초 FPS 업데이트
    if (currentTime - lastTime >= 1000) {
        fpsDisplay.textContent = frameCount;
        frameCount = 0;
        lastTime = currentTime;
    }

    // 현재 프레임 카운트 표시 업데이트
    frameCountDisplay.textContent = frameCount;

    requestAnimationFrame(calculateFPS);
}

// 비디오가 재생될 때 FPS 계산 시작
video.addEventListener('playing', () => {
    frameCount = 0;
    lastTime = performance.now();
    calculateFPS();
});

        async function updateSystemResources() {
            try {
                const response = await fetch('/system_resources');
                const data = await response.json();
                document.getElementById('cpu-temp').innerText = `CPU Temperature: ${data.cpu_temp.toFixed(1)} °C`;
                document.getElementById('memory-info').innerText = `Memory Usage: ${((data.memory_used / data.memory_total) * 100).toFixed(2)}% (${(data.memory_used / (1024**2)).toFixed(1)} MB / ${(data.memory_total / (1024**2)).toFixed(1)} MB)`;
            } catch (error) {
                console.error("Failed to fetch system resources:", error);
            }
        }

        setInterval(updateSystemResources, 5000);
    </script>
</body>
</html>
